* {
  box-sizing: border-box;
  
  margin: 0;
  padding: 0;
  
}

body {
  
  margin-bottom: 0.25%;
  margin-top: 0.25%;
  margin-left: 0.25%;
  margin-right: 0.25%;
  
}
form {
  margin: 0 auto;
  width: 300px;
  padding-top: 20px;
}

label {
  line-height: 2;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background: #283b63;
  color: white;
  border: none;
  padding: 5px 10px;
}
/* ----------------------------------Header----------------------*/
header {
  background-color:turquoise;
  gap: 2%;
  align-items: center;
 
 
}


h1{
  padding-top: 2%;
  font-family: url('/polices/Hellobaby.ttf');
  color: rgb(78, 114, 78);
  text-align: center ;
  position: relative;
  font-size: 40px; 
}


header a:hover {
  color: cadetblue;
}
ul, li {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  
  
  width: 100%;
  height: 20px;
}
li:hover{
  background-color: aliceblue;
  color: goldenrod;
}

a {
  list-style: none;
  text-decoration: none;
 
}

/* --------------- Navigation --------- Menu ----------*/

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  
  font-family: 'Lobster', cursive;
  
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  padding: 50px;
}

.nav-container {
  display: flex;
  height: 80px;
}

.nav-flex {
  display: flex;
  gap: 2%;
}

/*-----logo--Image--Affiche-----------------*/
.logo {
  max-width : 100%;

  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.image {
  width : 100%;

  justify-content: center;
  align-items: center;
   
}
.card {
  max-width : 100%;
height : auto;
  justify-content: center;
   align-items: center;
   object-fit: contain;
}
.manif{
  width : 10%;

  justify-content: center;
   align-items: center;
   
}
.ico-categorie
{width: 50px;

}
.fond{
  width: 100%;

}


/*--------------------------------------main----------------------------------------------*/
/* ---------grid------------*/
.angry-grid {
   display: grid; 

   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   
   gap: 2px;

  box-sizing: content-box;
  width: 100%;

 
   
}
  /*------- logo-----*/
#item-0 {
  

   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 2;

   grid-row: 1fr;

   align-content: center;
   

   
}

/* -----------Galerie photos roquemaure------------------*/
#item-1 {

   background-color: #E9877E; 
   grid-row-start: 1;
   grid-column-start: 2;

   grid-row-end: 2;
   grid-column-end: 9;

   display: flex;
   
   
   padding: 2px;
align-content: space-between;
justify-content: center;


width: 100%;
   
}

.top
{
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 9;

  display: flex;
  
  
  padding: 2px;
align-content: space-between;
justify-content: center;


width: 100%;

}

/* Galerie photos manifestations passées*/
#item-2 {

   background-color: #9C55B7; 
   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 7;
   grid-column-end: 2;

   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   margin-right: 1px;
   margin-left: 1px;
   width: 1fr;
   
   
}
.img-about{
  box-sizing: border-box;
width: 100%;
border: solid #5B6DCD 5px;
padding: 5px;
  
grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 7;
   grid-column-end: 2;

   
  
   display:grid;
   
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   padding: 0px;
}

/* Txt A propos de l'association / qui sommes-nous ? + add Txt projets realises*/
#item-3 {

   background-color: #7D75DA; 
   grid-row-start: 2;
   grid-column-start: 2;

   grid-row-end: 6;
   grid-column-end: 7;

   
background-repeat: no-repeat;
text-align: justify;
align-content: center;
font-size: 20px;
margin-left: 1px;
margin-right: 1px;


   

   
}


/* Galerie affiches*/
#item-4 {

   background-color: #677777; 
   grid-row-start: 2;
   grid-column-start: 7;

   grid-row-end: 7;
   grid-column-end: 9;

   
  
   display:flex;
   
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   padding: 0px;
   
  
}
.aff-1{
  box-sizing: border-box;
width: 100%;
border: solid #5B6DCD 5px;
padding: 5px;

}
.aff-2{
  box-sizing: border-box;
width: 100%;
border: solid #5B6DCD 5px;
padding: 5px;

}

/* contactez-nous +   Documents d'inscriptions  */
#item-8 {

   background-color: #6555FA; 
  
   
  
   border:solid #000000;
   justify-content: center;
  
   margin-left: 2px;
   margin-right: 2px;

   
   grid-row-start: 6;
   grid-column-start: 2;

   grid-row-end: 7;
   grid-column-end:4;
}
  
#item-8 h2{
  text-align: center;
}

#contactform{
  justify-content: center;
   
  
   
  
}

#item-9 {

   background-color: #598699; 
   border:solid #000000;
   justify-content: center;
  
   display: flexbox;
   margin-left: 2px;
   margin-right: 2px;

   
   grid-row-start: 6;
   grid-column-start: 4;

   grid-row-end: 7;
   grid-column-end:7;
}
#item-9 h2{
  text-align: center;
}  
  
 


/* Les liens */
#item-10 {
   justify-content: center;
   align-items: center;
   display: flex;
   grid-row-start: 7;
   grid-column-start: 1;

   grid-row-end: 8;
   grid-column-end: 9;
   background-color: turquoise;
   
}






/* Responsive */
/*
@media screen and (max-width: 900px) {
  h1 {
    font-size: 2rem;
    position: relative;
    top: 85%;
    left: 50%;
  }
}

@media screen and (max-width: 900px) {
  #space_between_cards {
    margin-top: 6000px;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .nav_meal_a {
    font-size: 20px;
  }
}
*/

