* reset */
/*@media screen and (max-width: 800px) { 
  .asso { 
    display: block;
    width: 100%;
    
  } 
}
/*les titres*/

h1
{
  font-family: "neuzeit-grotesk",sans-serif;
  font-size: 54px;
  color: rgb(11, 167, 214);
  text-shadow: 1px 1px #333;
  text-align: center;
  font-weight: normal;
  font-style: normal;
}
h2{
font-family: "neuzeit-grotesk",sans-serif;
font-size: 25px;
color: rgb(11, 167, 214);
text-shadow: 1px 1px #333;
text-align: center;
font-weight: normal;
font-style: normal;
}
/* Header */
header
{ background:scroll;
  list-style-type: none;
  display: flex;
  margin-right: 15px;
  font-size: 1.3em;
  color: #181818;
  padding-bottom: 3px;
  text-decoration: none;
  background-color: #f9f9f9;
  align-content: space-between;
}
nav 
{
    background:scroll;
    list-style-type: none;
    display: flex;
    margin-right: 15px;
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
    background-color: #f9f9f9;
    align-content: space-between;
}
nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/*Coprs de la page*/
.asso
{
  background-color: #CDF0EA;
  
  align-content: space-between;
  font-family: "neuzeit-grotesk",sans-serif;
text-align: center;
;}
body
{

}
main
{

}
/* Bannière de l'Association 
#asso
{

}
.image-sou
{

}
/* Caroussel 
#caroussel
{

}
.card
{

}
/* Section A propos 
#about
{

}
.a-propos
{

}
p.a-propos
{

}
.image-sou
{

}
.video-about
{

}
/* Section Projets réalisés 
#projets
{

}
.p-realise
{

}
p.p-realise
{

}
.img-projet
{

}
.video-projet
{

}
/* Section évènements 
#event
{

}
#iframePreview
{

}
/* Section contactez-nous /
#contactus
{

}
#titrecontact
{

}
.contact
{

}
#contactForm
{

}
label {
  line-height: 2;
}
input[type="text"],
input[type="email"],
textarea {
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
}


input[type="submit"] {
  background: #283b63;
  color: white;
  border: none;
  padding: 5px 10px;
}
input[type="File"] {
  background: #283b63;
  color: white;
  border: none;
  padding: 5px 10px;
}
/* Navigation */

/* Navigation */

/* Présentation du sou à la place de bannière */

/* Corps */


/* Définition des polices personnalisées */