* reset */
*{
  margin: 0px;
  padding: 0px;
}
h1{
    font-family: "neuzeit-grotesk",sans-serif;
    font-size: 54px;
    color: rgb(11, 167, 214);
    text-shadow: 1px 1px #333;
    text-align: center;

}
#menu{
    background-color: darkseagreen;
align-content: space-between;
font-family: "neuzeit-grotesk",sans-serif;}
ul {
    background: #283b63;
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  ul li {
    list-style: none;
  }
  
  ul li a {
    color: white;
    text-decoration: none;
  }
  #title{
    
    background-color: darkseagreen;
    align-content: space-between;

  }
  .buttonOrange {
    background-color: #f6c131;
}
.buttonSmall {
  padding: 5px 10px;
  font-size: 14px;
}

.button {
  vertical-align: middle;
}
.buttonBig, .buttonLarge, .buttonSmall {
  border-radius: 20px;
  transition: all 0.2s linear;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  margin: 8px 0;
  line-height: 1.15;
}
.textAlignCenter {
  text-align: center;
}
